@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

@keyframes pulseNeon {
  0%,
  100% {
    text-shadow: 0 0 12px #9b59b6, 0 0 17px #9b59b6, 0 0 22px #9b59b6;
  }
  50% {
    text-shadow: 0 0 17px #9b59b6, 0 0 22px #9b59b6, 0 0 27px #9b59b6; 
  }
}

.services {
  background-color: rgba(249, 246, 251, 0.9);

  &__title {
    text-transform: uppercase;
    font-size: 1.9rem;
    color: #59447c;
    &:hover {
      color: #4c3177;
    }

    &--highlight {
      color: #ffffff;
      font-weight: bold;
      text-shadow: 0 0 12px #9b59b6, 0 0 17px #9b59b6, 0 0 22px #9b59b6;
      animation: pulseNeon 2s infinite ease-in-out;
    }
    @include tablet {
      font-size: 2rem;
    }
    @include desktop {
      font-size: 2.75rem;
    }
  }

  &__section-title,
  &__section-title--fitness {
    padding-top: 2.5rem;
    font-size: 1.75rem;
    margin-bottom: 0.75rem;
    color: #9b59b6;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    @include tablet {
      margin-bottom: 1.5rem;
      padding-top: 3rem;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    @include tablet {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }

  &__card {
    background-color: #ede7f6; // Light purple background
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s;
    padding: 1rem;
    width: 300px; // Ensuring consistent width
    margin-bottom: 1.5rem;

    &:hover {
      transform: translateY(-10px);
    }
  }

  &__image-wrapper {
    width: 100%;
    border-radius: 8px;
  }

  &__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s, filter 0.3s;

    &:hover {
      transform: scale(1.05);
      filter: brightness(1.1);
    }
  }

  &__card-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-family: "Helvetica", "sans-serif";
    text-transform: uppercase;
  }

  &__button {
    background-color: #a864c1;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    transition: background-color 0.3s;
    cursor: pointer;

    &:hover {
      background-color: #86509a;
    }
  }
}
