@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

@keyframes pulseNeon {
  0%,
  100% {
    text-shadow: 0 0 12px #9b59b6, 0 0 17px #9b59b6, 0 0 22px #9b59b6; // Vibrant purple neon glow
  }
  50% {
    text-shadow: 0 0 17px #9b59b6, 0 0 22px #9b59b6, 0 0 27px #9b59b6; // Enhanced brightness at peak
  }
}

.services {
  @include tablet {
    padding: 1rem 0;
  }

  &__title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; // Modern font stack
    text-transform: uppercase;
    font-size: 1.75rem; // Using rem for scalability and accessibility
    padding-top: 1.5rem;
    color: #59447c; // Rich, vibrant purple, not too dark

    &:hover {
      color: #4c3177; // A slightly lighter, luminous purple on hover
    }

    &--highlight {
      color: #ffffff; // Bright white to stand out against the purple background
      font-weight: bold; // Enhanced weight for emphasis
      text-shadow: 0 0 12px #9b59b6, 0 0 17px #9b59b6, 0 0 22px #9b59b6; // Maintaining vibrant purple neon glow
      animation: pulseNeon 2s infinite ease-in-out; // Continuous pulsing effect for dynamic appearance
    }
  }

  &__section-title,
  &__section-title--fitness {
    padding-top: 2.5rem;
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: #9c1d9d;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px; // Slight increase in letter spacing for a more open feel
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); // Soft shadow for depth
    @include tablet {
      margin-bottom: 1.5rem;
      padding-top: 3rem;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding-bottom: 2rem; // Added padding to avoid elements touching the container's edges

    @include tablet {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap; // Enables wrapping of child elements
    }
  }

  &__card {
    background-color: #ede7f6; // Light purple background
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s;
    padding: 1rem;
    width: 300px; // Ensuring consistent width
    margin-bottom: 1.5rem;

    &:hover {
      transform: translateY(-10px);
    }
  }

  &__image-wrapper {
    width: 100%;
    border-radius: 8px;
  }

  &__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s, filter 0.3s;

    &:hover {
      transform: scale(1.05);
      filter: brightness(1.1);
    }
  }

  &__card-title {
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-family: "Helvetica", "sans-serif";
    text-transform: uppercase;
  }

  &__button {
    background-color: #ea4c89;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 1rem;
    transition: background-color 0.3s;
    cursor: pointer;

    &:hover {
      background-color: #c13584;
    }
  }

  .services__booking {
    background-color: #faeaf7; // Soft, light purple for a calm, modern look
    padding: 1.5rem;
    border-radius: 20px;
    text-align: center;
    margin: 1.5rem;
    box-shadow: 8px 8px 15px #dcd6e7, -8px -8px 15px #ffffff;
    transition: box-shadow 0.3s, transform 0.3s;

    &:hover {
      box-shadow: 2px 2px 5px #dcd6e7, -2px -2px 5px #ffffff;
      transform: scale(1.05);
    }

    @include tablet {
      margin: 2rem 10rem;
    }
  }

  .services__booking-title {
    margin-bottom: 1rem;
    color: #d358c1;
  }

  .services__booking-description {
    font-size: 1.15rem;
    color: #000000;
    margin-bottom: 2rem;
  }

  .services__booking-button {
    background-color: #9c77b9;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    padding: 15px 30px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    cursor: pointer;

    &:hover {
      background-color: #885da0; // Darker purple on hover
      transform: translateY(-3px); // Lift effect
      box-shadow: none; // "Pressed" effect
    }
  }
}
