@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.image-carousel {
  padding: 0 1rem;
  @include tablet {
    padding: 0 2rem;
  }
  @include desktop {
    padding: 0;
  }

  &__slider {
    position: relative;
    .slick-prev,
    .slick-next {
      cursor: pointer;
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      &.slick-prev {
        left: -1rem;
        @include tablet {
          left: 3rem;
        }
        @include desktop {
          left: 14rem;
        }
      }
      &.slick-next {
        right: -1rem;
        @include tablet {
          right: 3rem;
        }
        @include desktop {
          right: 14rem;
        }
      }
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablet {
      padding: 0 4rem;
    }
    @include desktop {
      padding: 0;
    }
  }

  &__image {
    width: 100%;
    height: 12.5rem;
    border-radius: 14px;
    object-fit: cover;
    transition: opacity 0.5s ease;
    @include tablet {
      height: 18rem;
      border-radius: 28px;
    }
    @include desktop {
      object-fit: contain;
      height: 22.5rem;
    }
  }
}
