@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.image-carousel {
  padding-top: 7rem;
  @include tablet {
    padding: 0 2rem;
  }
  @include desktop {
    padding: 0;
  }

  &__slider {
    position: relative;
    .slick-prev,
    .slick-next,
    .slick-dots {
      display: none !important;
    }
    animation: fadeIn 1s ease-in-out;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablet {
      padding: 0 4rem;
    }
    @include desktop {
      padding: 0;
    }
  }

  &__image {
    width: 100%;
    transition: opacity 0.5s ease;
    @include tablet {
      // height: 18rem;
      // border-radius: 28px;
    }
    @include desktop {
      // object-fit: contain;
      // height: 21.5rem;
    }
  }
}
