@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.image-carousel {
  padding-top: 7rem;

  &__slider {
    position: relative;

    .slick-prev,
    .slick-next,
    .slick-dots {
      display: none !important;
    }

    animation: fadeIn 1s ease-in-out;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12rem;

    @include tablet {
      height: 22.5rem;
    }

    @include desktop {
      height: auto;
      width: 100vw;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease;

    @include desktop {
      object-fit: cover;
      width: 100vw;
      height: 110vh;
    }
  }
 
}
