@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.groupfitness {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 7rem;
  @include tablet {
    padding: 2rem 4rem;
  }
  @include desktop {
    padding: 2rem 12rem;
  }

  &__title {
    margin-bottom: 0.5rem;
    color: #333;
    font-weight: 400;
    @include tablet {
      margin-bottom: 1.5rem;
    }
    @include desktop {
      margin-bottom: 2rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet {
      flex-direction: row;
      align-items: flex-start;
      gap: 1.5rem;
      width: 100%;
    }
  }
  // &__wrapper {
  //   @include tablet {
  //     display: flex;
  //     justify-content: flex-start;
  //     align-items: flex-start;
  //   }
  // }

  &__video {
    width: 100%;
    max-width: 15rem;
    border-radius: .5rem;
    margin-bottom: 1.5rem;
    outline: none;
  }

  &__subtitle {
    color: #666;
    text-align: justify;
    margin-bottom: 1rem;
  }
}
