@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.danceparty {
  padding: 0.5rem 2rem;
  margin-top: 7rem;
  @include tablet {
    padding: 1rem 2rem;
  }
  @include desktop {
    padding: 2rem 12rem 4rem;
  }

  &__container {
    @include tablet {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
      align-items: flex-start;
    }
  }

  &__title {
    text-align: center;
    color: #333;
    font-weight: 400;
    margin-bottom: 0.5rem;
    @include tablet {
      margin-bottom: 1rem;
    }
  }

  &__image {
    width: 100%;
    display: block;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    @include tablet {
      width: 25rem;
    }
  }

  &__subtitle {
    color: #666;
    margin-bottom: 0.5rem;
    text-align: justify;
  }
}
