@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.facepaint {
  padding: 0.5rem 2rem;
  margin-top: 7rem;
  @include tablet {
    padding: 2rem 4rem;
  }
  @include desktop {
    padding: 2rem 12rem 4rem;
  }

  &__title {
    text-align: center;
    color: #333;
    font-weight: 400;
    margin-bottom: 0.5rem;
    @include tablet {
      margin-bottom: 1.5rem;
    }
    @include desktop {
      margin-bottom: 2rem;
    }
  }

  &__container {
    @include tablet {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 1.5rem;
      margin: 1rem 0;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
    gap: 0.25rem;
    @include tablet {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  }

  &__image {
    width: 8rem;
    border-radius: 0.5rem;
    @include tablet {
      width: 10rem;
    }
    @include desktop {
      width: 16rem;
    }
  }

  &__subtitle {
    color: #666;
    text-align: justify;
    margin-bottom: 0.5rem;
    &-container {
      display: flex;
      flex-direction: column;
      @include desktop {
        height: 18rem;
      }
    }
  }
}
