.facepaint {
  padding: 1rem;
  margin-top: 6.5rem;

  &__title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0.5rem 0;
    color: #333;
  }

  &__images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  &__image {
    width: 100%;
    max-width: 8rem; 
    border-radius: 0.5rem; 
  }

  &__subtitle {
    font-size: 0.9rem;
    line-height: 1.4;
    color: #666;
  }
}
