@use "./mixins" as *;
@use "./colors" as *;
@use "./fonts" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}


