@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.main {
  padding: 8rem 1.5rem 1rem;
  @include tablet {
    padding: 8.5rem 2rem 1rem;
  }
  &__container {
    text-align: center;
    @include tablet {
      text-align: center;
    }
  }
  &__title {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    font-family: "QuicksandBold";
    color: #9a34c1;
    @include tablet {
      font-size: 1.65rem;
      padding-bottom: 1.5rem;
    }
  }
  &__wrapper {
    padding: 1rem 0 0.75rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include tablet {
      padding: 0;
      position: absolute;
      top: 190px;
      right: 30px;
    }
  }
  &__text {
    padding-top: 0.5rem;
    font-family: "QuicksandBold";
    color: #ea4c89;
    @include tablet {
      font-size: 1.25rem;
      padding-top: 0;
      padding-bottom: 0.75rem;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include tablet {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }
    &-item {
      font-weight: 700;
      display: flex;
      gap: 0.5rem;
      @include tablet {
        font-size: 1.15rem;
      }
    }
    &-more {
      color: #ea508b;
      font-family: "QuicksandBold";
      @include tablet {
        font-size: 1.15rem;
      }
    }
    &-icon {
      color: purple;
    }
    &-check {
      color: green;
    }
  }
  &__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    @include tablet {
      margin-top: 2.5rem;
    }
  }
  &__subtext {
    font-family: "QuicksandBold";
    font-size: 1rem;
    @include tablet {
      font-size: 1.35rem;
    }
  }
  &__icons {
    font-size: 2.5rem;
    &-list {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 1rem;
    }
    &-facebook {
      color: #0866ff;
    }
    &-instagram {
      color: #ae40af;
    }
  }
  &__button {
    background-color: rgb(168, 100, 193);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    &:hover,
    .button-1:focus {
      background-color: rgb(194, 147, 212);
    }
  }
}
