@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.main {
  height: 200rem;
  padding: 9.25rem 1.5rem;
  &__container {
    text-align: center;
  }
  &__title {
    font-weight: 700;
    font-size: 1.25rem;
  }
  &__subtitle {
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }
  &__text {
    font-size: 1.05rem;
    padding-top: 0.5rem;
  }
  &__wrapper {
    padding: 1rem 0 0.75rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    text-align: center;
    &-list {
      display: flex;
      justify-content: center;
    }
  }
  &__caption {
    padding: 2rem;
  }
  &__image {
    width: 12rem;
    height: 16rem;
    border-radius: 16px;
  }
  &__about {
    padding-top: 2rem;
  }
  &__contact {
    padding: 2rem;
  }
}
