@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.about {
  padding: 0.5rem 2rem;
  margin-top: 7rem;

  &__title {
    text-align: center;
    color: #333; // hex color for dark gray
    font-weight: 400; // bolder font-weight for modern typography
    margin-bottom: 0.5rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
    background-color: #f0f0f0;
    padding: 1rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: translateY(-5px); // subtle lift effect on hover
    }
  }

  &__image {
    width: 70%; // slightly smaller to fit aesthetically within container
    max-width: 300px; // maximum width to control image size on larger screens
    border-radius: 10px; // consistent rounded corners with the container
  }

  &__icons-wrapper {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    margin-top: 0.5rem;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }

  &__icon-envelope,
  &__icon-phone {
    color: #a5a1a1; // gray color in hex
  }

  &__icon-envelope:hover,
  &__icon-phone:hover {
    color: #4caf50; // vibrant green color on hover in hex
  }

  &__subtitle {
    margin: 0.25rem;
    &-wrapper {
      text-align: justify;
      font-size: 1rem;
      color: #666666;
      margin-bottom: 1rem;
      padding: 0;
    }
  }
  &__text-wrapper {
    margin-top: 1rem;
  }

  &__text {
    text-align: center;
  }
}
