@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.about {
  &__title {
    font-family: "QuicksandBold";
    padding: 1rem;
    @include tablet {
      padding: 2rem 1rem 0;
    }
  }
  &__container {
    @include tablet {
      display: flex;
      align-items: flex-start;
      gap: 1rem;
      padding: 1rem;
    }
  }
  &__subtitle {
    padding: 0.25rem;
    text-align: justify;
    font-size: 0.9rem;
    @include tablet {
      padding: 0 1rem 0.5rem;
    }
  }
  &__text {
    font-family: "QuicksandBold";
    &-wrapper {
      margin: 0.25rem;
      @include tablet {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 1rem;
      }
    }
  }
  &__image {
    width: 10rem;
    border-radius: 16px;
  }
  &__icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    font-size: 1.5rem;
    &-wrapper {
      background-color: #f4e7f8;
    }
    &-facebook {
      color: #0866ff;
    }
    &-instagram {
      color: #ae40af;
    }
    &-envelope {
      color: #a5a1a1;
    }
    &-phone {
      color: rgb(173, 116, 237);
    }
  }
}
