@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.about {
  &__title {
    font-family: "QuicksandBold";
    padding: 0.5rem;
    @include tablet {
      padding-top: 4rem;
    }
  }
  &__container {
    @include tablet {
      display: flex;
      align-items: flex-start;
      gap: 1rem;
      padding: 1.5rem 1.5rem 5rem;
    }
  }
  &__subtitle {
    padding: 0.15rem;
    text-align: justify;
    font-size: 0.95rem;
    &-wrapper {
      padding: 0.5rem;
      @include tablet {
        padding: 0;
      }
    }
  }
  &__text {
    font-family: "QuicksandBold";
    &-wrapper {
      margin-top: 0.75rem;
      @include tablet {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 0;
        padding: 1rem 0.25rem;
      }
    }
    &-number {
      font-size: 0.8rem;
    }
  }
  &__image {
    width: 8.5rem;
    border-radius: 16px;
    margin-bottom: 0.25rem;
    @include tablet {
      width: 100%;
    }
    &-container {
      padding-top: 0.5rem;
    }
  }
  &__icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    font-size: 1.5rem;
    background-color: #f4e7f8;
    border-radius: 8px;

    &-wrapper {
      margin: 0 0.75rem;

      @include tablet {
        margin: 0;
      }
    }
    &-facebook {
      color: #0866ff;
    }
    &-instagram {
      color: #ae40af;
    }
    &-envelope {
      color: #a5a1a1;
    }
    &-phone {
      color: rgb(173, 116, 237);
    }
  }
}
