@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.contact-button {
  background-color: hsl(263, 88%, 70%);
  border-radius: 8px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  height: 40px;
  line-height: 20px;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color 100ms;
  user-select: none;
  touch-action: manipulation;


  &:hover {
    background-color: rgb(130, 88, 197);
  }
  &__button {
    text-align: center;
  }
}
