@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.musicalbabies {
  padding: 0.5rem 2rem;
  margin-top: 7rem;
  @include desktop {
    padding: 2rem 14rem;
  }

  &__title {
    color: #333;
    margin-bottom: 0.5rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      flex-direction: row;
      align-items: flex-start;
      gap: 1.5rem;
    }
  }

  &__video {
    width: 100%;
    max-width: 12.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    outline: none;
  }

  &__subtitle {
    text-align: justify;
    color: #666;
    margin-bottom: 0.5rem;
  }
}
