@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.musicalbabies {
  padding: 0.5rem 2rem;
  margin-top: 7rem;
  @include tablet {
    padding: 2rem 4rem;
  }
  @include desktop {
    padding: 2rem 12rem;
  }
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    @include tablet {
      margin-bottom: 1.5rem;
    }
    @include desktop {
      margin-bottom: 2rem;
    }
  }

  &__title {
    text-align: center;
    color: #333;
    font-weight: 400;
    margin: 0 auto;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      flex-direction: row;
      align-items: flex-start;
      gap: 1.5rem;
    }
  }

  &__video {
    width: 100%;
    max-width: 15rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    outline: none;
  }

  &__subtitle {
    text-align: justify;
    color: #666;
    margin-bottom: 0.5rem;
  }
}
