@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.header {
  &__container {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(216, 203, 237);
    position: fixed;
    top: 0;
    z-index: 100;
    @include tablet {
      padding: 2rem;
    }
    @include desktop {
      justify-content: center;
      gap: 1rem;
    }
  }

  &__logo {
    width: 12vh;
    border-radius: 3rem;
  }

  &__navbar {
    @include desktop {
      display: none;
    }
    &:hover {
      cursor: pointer;
    }
  }

  &__navigation {
    display: none;
    @include desktop {
      display: flex;
      align-items: center;
    }
    &-span {
      &:hover {
        color: #8638a4;
      }
    }
    &-list {
      display: flex;
      align-items: center;
      font-weight: 700;
    }
    &-link {
      padding: 0 0.75rem;
      font-size: 1.15rem;
      font-family: "Helvetica", "sans-serif";
      position: relative;
      cursor: pointer;

      a {
        color: black;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        &:hover {
          color: #8638a4;
        }
      }

      &:hover,
      &.active {
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -3px;
          width: calc(100% - 2rem);
          height: 3px;
          background-color: #8638a4;
          margin-left: 1rem;
        }
      }

      &.contact-button::after {
        content: none;
      }

      .arrow-icon {
        display: inline-block;
        @include desktop {
          display: none !important;
        }
      }

      &-dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        padding: 0.25rem;
        margin-top: 0.25rem;
        border-radius: 0.5rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
        z-index: 10;
        width: max-content;

        li {
          padding: 0 1rem;
          font-size: 1rem;

          a {
            font-weight: normal;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      &:hover .header__navigation-link-dropdown {
        display: block;
        background-color: #fff;
      }
    }
  }

  &__sidebar {
    width: 100%;
    height: 100%;
    background-color: #f9f6fb;
    position: fixed;
    top: 110px;
    z-index: 100;

    @include tablet {
      display: block;
    }
    &-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 2rem;
      font-weight: 700;
      @include tablet {
        padding: 2rem 4rem;
      }
    }
    &-dropdown {
      display: flex;
      flex-direction: column;
      padding-top: 0.25rem;
      padding-left: 0.25rem;
      gap: 0.25rem;
    }
    &-link {
      display: block;
      align-items: center;
      justify-content: space-between;
      font-size: 1.15rem;
      position: relative;
      transition: background-color 0.3s ease;

      a,
      span {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-size: 1.25rem;
        text-decoration: none;

        &:hover {
          color: #8638a4;
          text-decoration: none;
        }
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }

      &-dropdown {
        display: none;
        position: relative;
        flex-direction: column;
        background-color: #f9f6fb;
        padding: 0.25rem;
        width: 100%;

        li {
          padding: 0.25rem 1rem;
          font-size: 1rem;

          a {
            font-weight: normal;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    &-link:hover .header__sidebar-dropdown {
      display: flex;
    }

    &-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      font-size: 1.5rem;
    }
    &-facebook {
      &:hover {
        color: #3b5998;
      }
    }
    &-instagram {
      &:hover {
        color: #8b338c;
      }
    }
    &-footer {
      text-align: center;
    }
    &-text {
      font-weight: 400;
    }
  }

  .contact-button {
    @include desktop {
      background-color: #a864c1;
      border-radius: 8px;
      border: none;
      color: #ffffff;
      cursor: pointer;
      font-size: 14px;
      font-weight: 700;
      height: 40px;
      line-height: 20px;
      padding: 10px 16px;
      text-align: center;
      text-decoration: none;
      transition: color 100ms;
      user-select: none;
      touch-action: manipulation;

      &:hover {
        background-color: #86509a;
      }
    }
  }
}
