@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.header {
  &__container {
    width: 100%;
    height: 8.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f9f6fb;
    position: fixed;
    top: 0;
    @include tablet {
      padding: 2rem;
    }
  }

  &__logo {
    width: 14vh;
    border-radius: 3rem;
  }

  &__navbar {
    @include tablet {
      display: none;
    }
    &:hover {
      cursor: pointer;
    }
  }

  &__navigation {
    display: none;
    @include tablet {
      display: flex;
    }
    &-list {
      display: flex;
    }
    &-link {
      padding: 0 1rem;
      font-size: 1.15rem;
    }
  }

  &__sidebar {
    width: 100%;
    height: 100%;
    background-color: #f9f6fb;
    position: fixed;
    top: 120px;
    margin-top: 1rem;
    z-index: 100;

    @include tablet {
      display: none;
    }
    &-list {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 3rem;
      padding-left: 2rem;
      padding-top: 2rem;
    }
    &-link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.4rem;
      font-weight: 700;
    }
  }
}
