@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.header {
  &__container {
    width: 100%;
    height: 8.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f9f6fb;
    @include tablet {
      padding: 2rem;
    }
  }

  &__logo {
    width: 14vh;
    border-radius: 3rem;
  }

  &__navbar {
    z-index: 999;
    @include tablet {
      display: none;
    }
    &:hover {
      cursor: pointer;
    }
  }

  &__navigation {
    display: none;
    @include tablet {
      display: flex;
    }
    &-list {
      display: flex;
    }
    &-link {
      padding: 0 1rem;
      cursor: pointer;
    }
  }

  &__sidebar {
    @include tablet {
      display: none;
    }
    &-list {
      display: flex;
      justify-content: space-evenly;
    }
    &-link {
      cursor: pointer;
    }
  }
}
