@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  padding-bottom: 0.5rem;
  background-color: #f9f6fb;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__icons {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding-bottom: 0.25rem;
  }
  &__facebook {
    color: #0866ff;
    transition: color 0.3s ease;
    &:hover {
      color: #3b5998;
    }
  }

  &__instagram {
    color: #ae40af;
    transition: color 0.3s ease;
    &:hover {
      color: #c13584;
    }
  }
  &__text {
    font-weight: 700;
  }
}
