@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
