@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.special-events {
  padding: 0.25rem 2rem 0.5rem;
  margin-top: 7rem;
  background-color: rgba(255, 255, 255, 0.4);
  @include tablet {
    padding: 0.5rem 4rem 7rem;
  }
  @include desktop {
    padding: 0.5rem 14rem 8rem;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    @include tablet {
      margin-bottom: 1.5rem;
    }
    @include desktop {
      margin-bottom: 2rem;
    }
  }

  &__title {
    text-align: center;
    color: #000;
    font-weight: 700;
    margin: 0 auto;
    padding-right: 0.75rem;
    font-size: 1.75rem;
    @include tablet {
      padding-right: 3rem;
    }
  }

  &__subtitle {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.25rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      flex-direction: row;
      align-items: flex-start;
      gap: 2rem;
      justify-content: center;
    }
  }

  &__image {
    width: 100%;
  }

  .special-events {
    &__image-container {
      position: relative;
      width: 100%;
    }
  
    &__image {
      width: 100%;
      display: block;
    }
  
    &__link {
      position: absolute;
      display: block;
      background: none;
      border: none;
      color: transparent;
      cursor: pointer;
      width: 100%;
      height: 100%;
  
      &:hover {
        background-color: rgba(0, 0, 0, 0.5); // Highlight on hover
        color: #fff; // For testing visibility
      }
    }
  
    &__link--section1 {
      top: 20.5%;
      left: 0%;
      width: 100%;
      height: 10%;
    }
  
    &__link--section2 {
      top: 32.5%;
      left: 0%;
      width: 100%;
      height: 10%;
    }
  
    &__link--section3 {
      top: 45%;
      left: 0%;
      width: 100%;
      height: 10%;
    }
  
    &__link--section4 {
      top: 56.5%;
      left: 0%;
      width: 100%;
      height: 10%;
    }
  
    &__link--section5 {
      top: 68%;
      left: 0%;
      width: 100%;
      height: 10%;
    }
  }
  
}
