// @use "../../styles/partials/colors" as *;
// @use "../../styles/partials/mixins" as *;

// .special-events {
//   padding: 0.25rem 2rem 0.5rem;
//   margin-top: 7rem;
//   background-color: rgba(255, 255, 255, 0.4);
//   @include tablet {
//     padding: 0.5rem 4rem 7rem;
//   }
//   @include desktop {
//     padding: 0.5rem 14rem 8rem;
//   }

//   &__header {
//     display: flex;
//     align-items: center;
//     margin-bottom: 1rem;
//     @include tablet {
//       margin-bottom: 1.5rem;
//     }
//     @include desktop {
//       margin-bottom: 2rem;
//     }
//   }

//   &__title {
//     text-align: center;
//     color: #000;
//     font-weight: 700;
//     margin: 0 auto;
//     padding-right: 0.75rem;
//     font-size: 1.75rem;
//     @include tablet {
//       padding-right: 3rem;
//       font-size: 2.5rem;
//     }
//   }

//   &__intro {
//     text-align: center;
//     margin: 1rem auto 1rem;
//     padding: 0.75rem;
//     background: linear-gradient(
//       135deg,
//       rgba(255, 240, 240, 0.7),
//       rgba(255, 255, 255, 0.5)
//     );
//     border-radius: 12px;
//     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
//     @include tablet {
//       padding: 1rem;
//     }
//     @include desktop {
//       padding: 1.5rem 2rem;
//     }

//     &-text {
//       color: #333;
//       font-weight: 700;
//       line-height: 1.6;
//       @include tablet {
//         font-size: 1.5rem;
//       }
//       @include desktop {
//         font-size: 1.75rem;
//       }

//       &::before,
//       &::after {
//         content: "✨";
//         margin: 0 0.25rem;
//         font-size: 1.5rem;

//         @include desktop {
//           font-size: 2rem;
//         }
//       }
//     }
//   }

//   &__subtitle {
//     text-align: center;
//     margin: 2rem 0;
//     font-size: 1.5rem;
//     color: #333;
//     font-weight: 700;
//     line-height: 1.5;
//     text-transform: uppercase;
//     letter-spacing: 0.05em;
//     border-radius: 15px;
//     position: relative;
//     background: linear-gradient(
//       90deg,
//       rgba(255, 79, 79, 0.4),
//       rgba(51, 209, 122, 0.4)
//     ); /* Transparent red and green gradient */

//     @include tablet {
//       font-size: 2rem;
//     }
//     @include desktop {
//       font-size: 2.75rem;
//     }

//     &::before,
//     &::after {
//       content: "✨";
//       margin: 0 0.5rem;
//       font-size: 1.5rem;

//       @include desktop {
//         font-size: 2rem;
//       }
//     }

//     &:hover {
//       animation: light-christmas-glow 1.5s infinite ease-in-out;
//     }
//   }

//   @keyframes light-christmas-glow {
//     0% {
//       text-shadow: 0 0 6px rgba(255, 79, 79, 0.6),
//         0 0 8px rgba(51, 209, 122, 0.504), 0 0 12px rgba(255, 79, 79, 0.452);
//     }
//     50% {
//       text-shadow: 0 0 8px rgba(51, 209, 122, 0.689),
//         0 0 12px rgba(255, 79, 79, 0.437), 0 0 16px rgba(51, 209, 122, 0.552);
//     }
//     100% {
//       text-shadow: 0 0 6px rgba(255, 79, 79, 0.51),
//         0 0 8px rgba(51, 209, 122, 0.457), 0 0 12px rgba(255, 79, 79, 0.301);
//     }
//   }

//   &__image-container {
//     position: relative;
//     width: 100%;
//     @include tablet {
//       width: 40rem;
//       margin: 0 auto;
//     }
//   }

//   &__image {
//     width: 100%;
//     display: block;
//   }

//   &__link {
//     position: absolute;
//     display: block;
//     background: none;
//     border: none;
//     color: transparent;
//     cursor: pointer;
//     width: 100%;
//     height: 100%;

//     &:hover {
//       background-color: rgba(0, 0, 0, 0.5);
//       color: #fff;
//     }
//   }

//   &__link--section1 {
//     top: 20.5%;
//     left: 0%;
//     width: 100%;
//     height: 10%;
//   }

//   &__link--section2 {
//     top: 32.5%;
//     left: 0%;
//     width: 100%;
//     height: 10%;
//   }

//   &__link--section3 {
//     top: 45%;
//     left: 0%;
//     width: 100%;
//     height: 10%;
//   }

//   &__link--section4 {
//     top: 56.5%;
//     left: 0%;
//     width: 100%;
//     height: 10%;
//   }

//   &__link--section5 {
//     top: 68%;
//     left: 0%;
//     width: 100%;
//     height: 10%;
//   }
// }

@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.special-events {
  padding: 0.25rem 2rem 0.5rem;
  margin-top: 7rem;
  background-color: rgba(255, 255, 255, 0.4);

  @include tablet {
    padding: 0.5rem 4rem 7rem;
  }

  @include desktop {
    padding: 0.5rem 14rem 8rem;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    @include tablet {
      margin-bottom: 1.5rem;
    }

    @include desktop {
      margin-bottom: 2rem;
    }
  }

  &__title {
    text-align: center;
    color: #000;
    font-weight: 700;
    margin: 0 auto;
    padding-right: 0.75rem;
    font-size: 1.75rem;

    @include tablet {
      padding-right: 3rem;
      font-size: 2.5rem;
    }

    @include desktop {
      font-size: 3rem;
    }
  }

  &__intro {
    text-align: center;
    margin: 1rem auto 1rem;
    padding: 0.75rem;
    background: linear-gradient(
      135deg,
      rgba(255, 240, 240, 0.7),
      rgba(255, 255, 255, 0.5)
    );
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    @include tablet {
      padding: 1rem;
      max-width: 60%;
    }

    @include desktop {
      padding: 1.5rem 2rem;
      max-width: 50%;
    }

    &-text {
      color: #333;
      font-weight: 700;
      line-height: 1.6;

      @include tablet {
        font-size: 1.5rem;
      }

      @include desktop {
        font-size: 1.75rem;
      }

      &::before,
      &::after {
        content: "✨";
        margin: 0 0.25rem;
        font-size: 1.5rem;

        @include desktop {
          font-size: 2rem;
        }
      }
    }
  }

  &__subtitle {
    text-align: center;
    margin: 2rem 0;
    font-size: 1.5rem;
    color: #333;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-radius: 15px;
    position: relative;
    background: linear-gradient(
      90deg,
      rgba(255, 79, 79, 0.4),
      rgba(51, 209, 122, 0.4)
    ); /* Transparent red and green gradient */

    @include tablet {
      font-size: 2rem;
    }

    @include desktop {
      font-size: 2.75rem;
    }

    &::before,
    &::after {
      content: "✨";
      margin: 0 0.5rem;
      font-size: 1.5rem;

      @include desktop {
        font-size: 2rem;
      }
    }

    &:hover {
      animation: light-christmas-glow 1.5s infinite ease-in-out;
    }
  }

  @keyframes light-christmas-glow {
    0% {
      text-shadow: 0 0 6px rgba(255, 79, 79, 0.6),
        0 0 8px rgba(51, 209, 122, 0.504), 0 0 12px rgba(255, 79, 79, 0.452);
    }
    50% {
      text-shadow: 0 0 8px rgba(51, 209, 122, 0.689),
        0 0 12px rgba(255, 79, 79, 0.437), 0 0 16px rgba(51, 209, 122, 0.552);
    }
    100% {
      text-shadow: 0 0 6px rgba(255, 79, 79, 0.51),
        0 0 8px rgba(51, 209, 122, 0.457), 0 0 12px rgba(255, 79, 79, 0.301);
    }
  }

  &__image-container {
    position: relative;
    width: 100%;
    margin: 1rem auto;

    @include tablet {
      width: 60%;
    }

    @include desktop {
      width: 50%;
    }
  }

  &__image {
    width: 100%;
    display: block;
  }

  &__link {
    position: absolute;
    display: block;
    background: none;
    border: none;
    color: transparent;
    cursor: pointer;
    width: 100%;
    height: 100%;

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
    }
  }

  &__link--section1 {
    top: 20.5%;
    left: 0%;
    width: 100%;
    height: 10%;
  }

  &__link--section2 {
    top: 32.5%;
    left: 0%;
    width: 100%;
    height: 10%;
  }

  &__link--section3 {
    top: 45%;
    left: 0%;
    width: 100%;
    height: 10%;
  }

  &__link--section4 {
    top: 56.5%;
    left: 0%;
    width: 100%;
    height: 10%;
  }

  &__link--section5 {
    top: 68%;
    left: 0%;
    width: 100%;
    height: 10%;
  }
}
