@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.mommyandme {
  margin-top: 7.5rem;
  &__title {
    font-weight: 400;
    margin-bottom: 0.5rem;
    text-align: center;
    color: #333;
    @include tablet {
      margin-bottom: 1.5rem;
    }
  }

  &__slider {
    margin-bottom: 1.5rem;
    .slick-slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
    height: 20rem;
  }

  &__subtitle {
    color: #666;
    text-align: justify;
    padding: 0.25rem 2rem;
  }
}
