@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.private-training {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 8rem;

  &__title {
    margin-bottom: 1rem;
    color: #333;
    font-weight: 400;
  }

  &__video {
    width: 100%;
    max-width: 15rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
  }

  &__subtitle {
    color: #555;
    text-align: justify;
    margin-bottom: 1rem;
  }
}
